<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../static/css/product-form.css" >
  <link th:href="@{/css/product-form.css}" rel="stylesheet" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,900" rel="stylesheet">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Winowajcy</title>
</head>
<body>

<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand waves-effect" th:href="@{/}">
      <strong class="blue-text">Winowajcy</strong>
    </a>

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-effect" href="/wines/new">Wine list
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="/news" target="_blank">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="/bestsellers" target="_blank">Bestsellers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="/aboutus" target="_blank">About us</a>
        </li>
      </ul>

      <!-- Right -->
      <div class="navbar-nav nav-flex-icons">
        <a href="/shoppingcart" class="nav-link border border-light rounded waves-effect" target="_blank">
          <i class="fab fa-github mr-2"></i>Shopping Cart
        </a>
      </div>

    </div>

  </div>
</nav>
<!-- Navbar -->

</body>
</html>