<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header" |>

</head>

<body>
<div th:replace="common/header :: navbar" |>
</div>
<br><br><br><br><br><br>
<button type="button" class="btn btn-danger">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter"
         viewBox="0 0 16 16">
        <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
    </svg>
    test button
</button>
<div th:if="${#lists.isEmpty(winesjson)}">
    <p>Przerwa techniczna</p>
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nazwa wina</th>
        <th scope="col">Smak</th>
        <th scope="col">Cena</th>
        <th scope="col">Rok</th>
        <th scope="col">Pochodzenie</th>
        <th scope="col">Typ</th>
        <th scope="col">Ilość</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wine : ${wines}">
        <td th:text="${wine.id}"></td>
        <td th:text="${wine.name}"></td>
        <td th:text="${wine.flavour}"></td>
        <td th:text="${wine.price}"></td>
        <td th:text="${wine.year}"></td>
        <td th:text="${wine.origin}"></td>
        <td th:text="${wine.type}"></td>
        <td th:text="${wine.quantity}"></td>


    </tr>
    </tbody>
</table>

</body>
<div th:replace="common/header :: footer" |>
</div>
</html>