<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header" |>

</head>

<body>
<div th:replace="common/header :: navbar" |>
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nazwa wina</th>
        <th scope="col">Smak</th>
        <th scope="col">Cena</th>
        <th scope="col">Rok</th>
        <th scope="col">Pochodzenie</th>
        <th scope="col">Typ</th>
        <th scope="col">Ilość</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wine : ${wines}">
        <td th:text="${wine.id}"></td>
        <td th:text="${wine.name}"></td>
        <td th:text="${wine.flavour}"></td>
        <td th:text="${wine.price}"></td>
        <td th:text="${wine.year}"></td>
        <td th:text="${wine.origin}"></td>
        <td th:text="${wine.type}"></td>
        <td th:text="${wine.quantity}"></td>
        <td><a th:href="@{|/wine/${wine.id}|}" class="btn btn-link" ><button type="button" class="btn btn-warning">Details</button></a>
        <a th:href="@{|/buyProduct?id=${wine.id}|}" class="btn btn-link" ><button type="button" class="btn btn-danger">Add to cart</button></a>
        </td>
    </tr>
    </tbody>
</table>

</body>
<div th:replace="common/header :: footer" |>
</div>
</html>